#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logoutIcon {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .logoutIcon:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo_full {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin: 7px 0px;
  background: rgba(255, 255, 255, 0.3);
}

#components-layout-demo-custom-trigger .logo_min {
  width: 100%;
  max-width: 32px;
  height: auto;
  margin: 16px 23.5px;
  background: rgba(255, 255, 255);
}

.site-layout {
  height: 100vh;
}

.site-layout .site-layout-background {
  background: #fff;
}